# Banco de dados MySQL
DATABASE_URL="mysql://root:password@localhost:3306/conecta_safra"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sua-chave-secreta-aqui-gere-com-openssl-rand-base64-32"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Conecta Safra"
